@import url(//fonts.googleapis.com/css?family=Sigmar+One);

body {
    background-color: #3e8f3e;
}

.container {
    width: 600px;
}

.box {
    border-radius: 15px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #204B20;
    padding: 0 15px 15px 15px;
    margin-bottom: 15px;
}

.header {
    cursor: default;
    color: #204B20;
    margin: 30px 0;
    font-size: 64px;
    font-family: 'Sigmar One', cursive;
}

.start-now {
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
    color: green;
    font-weight: bold;
}

textarea {
    background-color: #FFFECC !important;
}

input {
    background-color: #FFFECC !important;
}

.alert-error {
    background-color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFEEEE;
    box-shadow: 0 5px 5px #243;
}

.btn {
    box-shadow: 0 5px 5px #243;
}

.super-shadow
{
    position: relative;
}

.super-shadow:before, .super-shadow:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #243;
    -webkit-box-shadow: 0 20px 10px #243;
    -moz-box-shadow: 0 20px 10px #243;
    box-shadow: 0 20px 10px #243;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.super-shadow:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
