@import url(//fonts.googleapis.com/css?family=Sigmar+One);

body {
    background-color: #3e8f3e;
}

.container {
    max-width: 600px;
}

.box {
    border-radius: 15px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #204B20;
    padding: 0 15px 15px 15px;
}

.header {
    cursor: default;
    color: #204B20;
    margin: 30px 0;
    font-size: 64px;
    font-family: 'Sigmar One', cursive;
}

.start-now {
    padding: 15px 0;
    font-size: 28px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.fork-me {
    opacity: 0.8;
}

textarea {
    background-color: #ffff00 !important;
}

input {
    background-color: #ffff00 !important;
}
