<div>
    <div class="box super-shadow">
        <div class="sub-header">
            Share this url to invite others!
        </div>
        <div class="form-group unselectable">
            <div ng-repeat="user in users track by $index"
            <div class="user-row">
                <progressbar class="progress-striped" max="words.length" value="user.progress" type="warning">
                    <nobr>&nbsp;{{ user.name }}</nobr>
                </progressbar>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="msgInput" placeholder="Send message..." ng-keyup="sendMsg($event)"/>
        </div>
        <div class="form-group super-chat">
            <div ng-repeat="chatMsg in chatMessages track by $index">
                <b ng-if="chatMsg.user">{{ chatMsg.user }}: </b>
                <span ng-class="chatMsg.user ? '' : 'general-msg' ">{{ chatMsg.text }}</span>
            </div>
        </div>
    </div>
    <div class="text-center form-group" ng-if="user.creator">
        <button type="button" class="btn btn-lg btn-success" ng-disabled="processing" ng-click="start()">Start Typing!</button>
    </div>
</div>