<div ng-show="joinMode">
    <div class="box super-shadow">
        <div class="sub-header">
            Please identify yourself to join!
        </div>
        <div class="form-group">
            <input ng-model="newUser" type="text" class="form-control input-lg" placeholder="Your name goes here...">
        </div>
        <hr/>
        <div class="form-group row">
            <div class="col-xs-7">
                <div id="g-recaptcha"></div>
            </div>
            <div class="col-xs-5 text-center">
                <a href="http://github.com/gevorg/typeitquick" target="_blank">
                    <img src="/assets/forkme.png" height="80">
                </a>
            </div>
        </div>
    </div>
    <div class="alert alert-error text-center" ng-if="errorMsg">
        {{ errorMsg }}
    </div>
    <div class="text-center form-group">
        <button type="button" class="btn btn-lg btn-success" ng-click="join()" ng-disabled="processing">Join Contest!</button>
    </div>
</div>
<div ng-show="!joinMode && words">
    <div class="box super-shadow">
        <div class="sub-header">
            Share this url to invite others!
        </div>
        <div class="form-group unselectable">
            <div ng-repeat="user in users track by $index"
            <div class="user-row">
                <progressbar class="progress-striped" max="words.length" value="user.progress" type="warning">
                    <nobr>&nbsp;{{ user.name }} - {{ progress(user) }}</nobr>
                </progressbar>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="msgInput" placeholder="Send message..." ng-keyup="sendMsg($event)"/>
        </div>
        <div class="form-group super-chat">
            <div ng-repeat="msg in messages track by $index">
                <b ng-if="msg.user">{{ msg.user }}: </b>
                <span ng-class="msg.user ? '' : 'general-msg' ">{{ msg.text }}</span>
            </div>
        </div>
        <div class="form-group super-text unselectable" ng-show="state != 'Waiting'">
            <span ng-class="wordClass($index)" ng-repeat="word in words track by $index"><span>{{ word }}</span> </span>
        </div>
    </div>
    <div class="text-center form-group">
        <button type="button" class="btn btn-lg btn-success" ng-disabled="processing">Start Typing!</button>
    </div>
</div>