<div class="start-now">
    Start your own online typing contest!
</div>
<div class="form-group">
    <textarea class="form-control input-lg" rows="3" placeholder="Contest text goes here..."></textarea>
</div>
<div class="form-group">
    <input type="text" class="form-control input-lg" placeholder="Your name goes here...">
</div>
<div class="form-group" id="home-captcha" ng-init="initCaptcha()">
    <%- captcha %>
</div>
<div class="text-center">
    <button type="button" class="btn btn-lg btn-success" disabled>Start Now!</button>
</div>