<!doctype html>
<html ng-app="TypeItQuick">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=600">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <title>Type It Quick - Online Typing Contest</title>

    <meta name="keywords" content="online, type, quick, contest" />
    <meta name="description" content="Start your own online typing contest!"/>

    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/service/contest.js"></script>
    <script src="/assets/js/controller/home.js"></script>
    <script src="/assets/js/controller/contest.js"></script>

    <script type="text/javascript">
        // Script load callback.
        var recaptchaLoaded = function() {
            // Connecting to controller.
            $(window).trigger('recaptchaLoaded');
        };

        // Captcha key.
        window.captchaKey = '<%= captchaKey %>';
    </script>
</head>
<body>
<div class="container">
    <div class="header text-center">Type It Quick</div>
    <div ng-view></div>
</div>
</body>
</html>