<!doctype html>
<html ng-app="TypeItQuick">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=600">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <title>Type It Quick - Online Typing Contest</title>

    <meta name="keywords" content="online, type, quick, contest" />
    <meta name="description" content="Start your own online typing contest!"/>

    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/service/contest.js"></script>
    <script src="/assets/js/service/captcha.js"></script>
    <script src="/assets/js/service/io.js"></script>
    <script src="/assets/js/controller/start.js"></script>
    <script src="/assets/js/controller/chat.js"></script>
    <script src="/assets/js/controller/join.js"></script>
    <script src="/assets/js/controller/type.js"></script>

    <script type="text/javascript">
        // Script load callback.
        var recaptchaLoaded = function() {
            // Connecting to controller.
            $(window).trigger('recaptchaLoaded');
        };

        // Captcha key.
        window.captchaKey = '<%= captchaKey %>';

        // Site url.
        window.siteUrl = '<%= siteUrl %>';
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48892246-4', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div class="container">
    <a class="header text-center" href="#/">Type It Quick</a>
    <div ng-view></div>
</div>
</body>
</html>